<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Imported materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>Document</title>
</head>
<body>
	<h1 style="background-color: yellow; text-align: center; padding: 5%; margin-top: 0;">Go Team!</h1>

    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="https://avatars3.githubusercontent.com/u/56979386?v=4">
                    <h4> Cody Switzer</h4>
                    <h5>ID: 119</h5>
                    <h5>Title: Intern</h5>
                    <h5>School: SMU Coding Boot Camp</h5>
                </div>
                <div class="card-action">
                    <a href="cswitzer85@gmail.com">email: cswitzer85@gmail.com</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
